.button {
    margin: 5px 10px;
}

.primary {
    color: #fff;
    background-color: #26a69a;
    
}
  
.secondary {
    color: #fff;
    background-color: #26a69a;
    border: 1px solid #26a69a;
}

.close {
    position: relative;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 7px;
    font-size: 0;
}

.close:before {
    content: 'X';
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}