.LoginForm {
    padding: 10px;
    min-width: 460px;

    .Form {
        input {
            width: 100%;
        }
        & + .Buttons {
            margin-bottom: 1em;
        }
    }
    .error {
        padding: 10px;
        color: white;
        background-color: red;
    }
}