.Content {
    display: flex;
    justify-content: center;
    width: fit-content;
    min-height: 700px;
    max-width: 1280px;
    margin: 0 auto;

    & > div {
        height: auto;
        background-color: $main;
        margin: 10px;
    }
}