.Comment {
    border: 1px solid white;
    margin: 10px 0;

    &-content {
        padding: 10px;
        text-align: left;
        background-color: white;
    }
    .Answers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;

        * {
            margin: 0;
        }
    }
}