.Header {
    background: grey;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    .Logo {
        width: auto;
        display: flex;
        align-items: center;
    
        h1 {
            margin: 0;
        }  
    }
    .Buttons {
        width: max-content;
        display: flex;
        align-items: center;
    }
}