.News {
    .row {
        margin-bottom: 0;
    }
    .card {
        &-content {
            text-align: left;

            p:first-child {
                margin-bottom: 1.2rem;
            }
            img {
                width: 100%;
            }
        }
        &.horizontal {
            .card-image {
                padding: 10px;
                display: flex;
                align-items: center;

                @include media-md {
                    max-width: 100%
                }
            }

            @include media-md {
                flex-direction: column;
            }
        }
        &-stacked {
            padding: 10px;
        }
    }
}
.OneNews {
    .card {
        h3 {
            margin: 0 0 2rem;
        }
        &-content {
            p {
                padding: 0.5rem 0;
            }
        }
        ul {
            list-style-type: initial;

            li {
                margin-left: 2rem;
                list-style-type: initial;
            }
        }
    }
}