.News {
    .row {
        margin-bottom: 0;
    }
    .card {
        &-content {
            text-align: left;

            p:first-child {
                margin-bottom: 1.2rem;
            }
        }
        &.horizontal .card-image {
            padding: 10px;
            display: flex;
            align-items: center;
        }
        &-stacked {
            padding: 10px;
        }
    }
}